<div class="content">
    <h1>CÁC SẢN PHẨM GIẢM GIÁ</h1><BR />
    <div class="grid">
        {{#each products}}
            {{#if this.cost}}       
                <div class="container">
                    <div class="product-photo"><img src="{{this.img_path}}"></div>
                    <div class="product-name">{{this.name}}</div>
                    <div class="product-description">{{this.description}}</div>
                    <table>
                        <th>
                            <div class="product-price">{{this.price}}.000&#273</div>
        
                            <div class="product-pre-price">{{this.cost}}.000&#273</div>
                            
                        </th>
                        <td><button class="addBtn" name="{{this.id}}:{{this.name}}" value="{{this.price}}000">+</button></td>
                    </table>
                </div>
            {{/if}}
        {{/each}}
    </div>

</div>