<div class="content">
    <ul class="slideshow">
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
    </ul>
    <h1>SẢN PHẨM</h1><BR />
    <div style="width: 100%; text-align: center;">
        <a class="textBtn" href="#coffee" style="padding-right: 2%;">Coffee</a>
        <a class="textBtn" href="#smoothy" style="padding-right: 2%;">Smoothy</a>
        <a class="textBtn" href="#juice" style="padding-right: 2%;">Juice</a>
        <a class="textBtn" href="#tea" style="padding-right: 2%;">Tea</a>
        <a class="textBtn" href="#desert">Desert</a>
    </div>
    <h2 id="coffee" style="padding-left: 2%;">Coffee</h2>
    <div class="grid">
        {{#each products}}

            {{#ifCond this.category 'Coffee'}}       
                <div class="container">
                    <div class="product-photo"><img src="{{this.img_path}}"></div>
                    <div class="product-name">{{this.name}}</div>
                    <div class="product-description">{{this.description}}</div>
                    <table>
                        <th>
                            <div class="product-price">{{this.price}}.000&#273</div>
                            {{#if this.cost}}
                                <div class="product-pre-price">{{this.cost}}.000&#273</div>
                            {{/if}}
                        </th>
                        <td><button class="addBtn" name="{{this.id}}:{{this.name}}" value="{{this.price}}000">+</button></td>
                    </table>
                </div>
            {{/ifCond}}
        {{/each}}
    </div>

    <h2 id="smoothy" style="padding-left: 2%;">Smoothy</h2>

    <div class="grid">
        {{#each products}}
            {{#ifCond this.category 'Smoothy'}}       
                <div class="container">
                    <div class="product-photo"><img src="{{this.img_path}}"></div>
                    <div class="product-name">{{this.name}}</div>
                    <div class="product-description">{{this.description}}</div>
                    <table>
                        <th>
                            <div class="product-price">{{this.price}}.000&#273</div>
                            {{#if this.cost}}
                                <div class="product-pre-price">{{this.cost}}.000&#273</div>
                            {{/if}}
                        </th>
                        <td><button class="addBtn" name="{{this.name}}" value="{{this.price}}000">+</button></td>
                    </table>
                </div>
            {{/ifCond}}
        {{/each}}
    </div>

    <h2 id="juice" style="padding-left: 2%;">Juice</h2>
    <div class="grid">

        {{#each products}}
            {{#ifCond this.category 'Juice'}}       
                <div class="container">
                    <div class="product-photo"><img src="{{this.img_path}}"></div>
                    <div class="product-name">{{this.name}}</div>
                    <div class="product-description">{{this.description}}</div>
                    <table>
                        <th>
                            <div class="product-price">{{this.price}}.000&#273</div>
                            {{#if this.cost}}
                                <div class="product-pre-price">{{this.cost}}.000&#273</div>
                            {{/if}}
                        </th>
                        <td><button class="addBtn" name="{{this.name}}" value="{{this.price}}000">+</button></td>
                    </table>
                </div>
            {{/ifCond}}
        {{/each}}
    </div>

    <h2 id="tea" style="padding-left: 2%;">Tea</h2>
    <div class="grid">
        {{#each products}}
            {{#ifCond this.category 'Tea'}}       
                <div class="container">
                    <div class="product-photo"><img src="{{this.img_path}}"></div>
                    <div class="product-name">{{this.name}}</div>
                    <div class="product-description">{{this.description}}</div>
                    <table>
                        <th>
                            <div class="product-price">{{this.price}}.000&#273</div>
                            {{#if this.cost}}
                                <div class="product-pre-price">{{this.cost}}.000&#273</div>
                            {{/if}}
                        </th>
                        <td><button class="addBtn" name="{{this.name}}" value="{{this.price}}000">+</button></td>
                    </table>
                </div>
            {{/ifCond}}
        {{/each}}

    </div>

    <h2 id="desert" style="padding-left: 2%;">Desert</h2>
    <div class="grid">
        {{#each products}}
            {{#ifCond this.category 'Desert'}}       
                <div class="container">
                    <div class="product-photo"><img src="{{this.img_path}}"></div>
                    <div class="product-name">{{this.name}}</div>
                    <div class="product-description">{{this.description}}</div>
                    <table>
                        <th>
                            <div class="product-price">{{this.price}}.000&#273</div>
                            {{#if this.cost}}
                                <div class="product-pre-price">{{this.cost}}.000&#273</div>
                            {{/if}}
                        </th>
                        <td><button class="addBtn" name="{{this.name}}" value="{{this.price}}000">+</button></td>
                    </table>
                </div>
            {{/ifCond}}
        {{/each}}

    </div>
    <script type="text/javascript">
        Handlebars.registerHelper('ifCond', function(v1, v2, options) {
            if(v1 === v2) {
                return options.fn(this);
            }
                return options.inverse(this);
            });
    </script>

</div>